
@import url("../index.css");
@import url("./home.css");

.error_container {
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.error_title {
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    margin-bottom: 20px;
}

.error_baseline {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 142.6%;
    margin-bottom: 50px;
}

a.error_link,
a.error_link:visited,
a.error_link:active {
    text-decoration: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #FF6060;
}

@media (max-width: 820px) {
    .error_title {
        font-size: 100px;
    }
}