
@import url("../index.css");
@import url("./home.css");

.product_container {
    width: 90%;
    max-width: 1440px;
    margin: 2rem auto 5rem auto;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
}

/* PRODUCT MAIN INFO */
.main_info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    gap: 2rem;
}

.practical_info {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    gap: 1rem;
}

.house_title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin: 0;
}

.house_location {
    color: #FF6060;
    font-weight: 400;
    font-size: 16px;
    line-height: 142.6%;
    padding-bottom: 0.5rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.equipment_item {
    display: block;
}


/* PRODUCT SOCIAL INFO */
.social_info {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-between;;
    min-width: max-content;
    gap: 1rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
}

/* PRODUCT DETAILS */

.details {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.product_collapse {
    width: 47%;
}


@media (max-width: 820px) {
    .product_container {
        gap: 1rem;
        margin: 2rem auto 3rem auto;
    }

    .main_info {
        display: flex;
        flex-flow: column wrap;
        gap: 0.5rem;
    }

    .practical_info {
        display: flex;
        flex-flow: column wrap;
        width: auto;
        gap: 0.5rem;
    }

    .social_info {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        align-items: center;
    }

    .details {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }
    
    .product_collapse {
        width: 100%;
    }

    .house_title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        color: #FF6060;
        margin-bottom: 0;
    }

    .house_location {
        font-size: 15px;
    }
}