
@import url("../index.css");
@import url("../pages/home.css");

.collapse_module {
    width: 100%;
}

.collapse_toggle {
    background: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    max-height: 47px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.arrow {
    height: 10px;
    width: auto;
    transition: ease-out 0.4s;
    cursor: pointer;
}

.arrow_down {
    height: 10px;
    width: auto;
    transform: rotate(180deg);
    transition: ease-in 0.4s;
    cursor: pointer;
}

.collapse_title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142.6%;
    padding: 10px 0;
    cursor: pointer;
}

.collapse_description {
    background: #F7F7F7;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -5px;
}

.collapse_description_text {
    color:#FF6060;
    margin: 0;
    padding: 1.5rem 1rem 0.8rem 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142.6%;
}

@media (max-width: 820px) {
    .collapse_toggle {
        max-height: 35px;
    }
    .collapse_title {
        font-size: 16px;
    }
    .collapse_description_text {
        padding: 1.5rem 1.5rem 2rem 1.5rem;
        font-size: 15px;
    }
}