
@import url("../index.css");
@import url("../pages/home.css");

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.host_name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142.6%;
    text-align: right;
    color: #FF6060;
    width: min-content;
}

.host_picture {
    background: #C4C4C4;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

@media (max-width: 820px) {
    .host_name {
        font-size: 13px;        
        width: min-content;
    }
    
    .host_picture {
        width: 50px;
        height: 50px;
    }
}