
@import url("../index.css");
@import url("../pages/home.css");

.tag {
    background-color: #FF6060;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    min-width: 115px;
    white-space: nowrap;
}

@media (max-width: 820px) {
    .tag {
    font-size: 12px;
    padding: 5px 10px;
    }
}