/* Import d'un fichier Normalize */
@import "./normalize.css";

/* Import de la police "Monserrat" utilisée */
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;500;700;900&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap);

* {
    box-sizing: border-box;
}

/* Paramètres généraux de la balise dans laquelle l'application est rendered  */
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}